<%- include ("../partials/header") %>

<div class="homepage">
    <h2>All Facespace members</h2>

    <ul class="homepage__all">
        <% users.forEach(user => { %>
        <li class="homepage__all--user">
          
          <img class="homepage-image" src="<%= user.avatarUrl %>" >
          <% if(currentUser && currentUser.friends && currentUser.friends.includes(user._id)){ %>
<div class="ribbon">
  <img class="speechbubble" src="images/assets/speechbubble.png" >
  <span class="friendspan">friend</span></div>
          <% }; %>
      
        <a href=<%- `/users/${user._id}` %>>
          <div class="overlay">
            <div class="userNameText">
              <%- user.name %>
          </div>
        </div>
      </a>
        </li>
        <% }) %>
      </ul>
</div>

<%- include ("../partials/footer") %>